<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNET_Team_8 Shopping Cart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/logo.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container-fluid">
                <div class="header-container">
                    <div>
                        <h1 class="logo rainbow-text">Team8.NET</h1>
                    </div>
                    @switch (ViewData["Title"])
                    {
                        @*===========================================================================================================================================*@
                        @*===========================================================================================================================================*@
                        case "Customer Login Page":
                            @*@: This is Customer Login Page, nothing should to be display here.*@
                            break;
                        @*===========================================================================================================================================*@
                        @*===========================================================================================================================================*@
                        case "Product Gallery":
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mt-5">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item mx-5 px-2" style="font-size:45px;">Hello @ViewBag.Visitor!</li>
                                    @if (ViewBag.Visitor != "Guest")
                                    {
                                        <li class="nav-item mx-2 mt-1" style="font-size:35px"><a asp-controller="Order" asp-action="PurchaseHistory">My Purchases</a></li>
                                        <li class="nav-item mx-2 p-0" style="font-size:40px"><span> | </span></li>
                                        <li class="nav-item ms-2 mt-1" style="font-size:35px"><a asp-controller="Customer" asp-action="Logout">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item ms-3 mt-1" style="font-size:35px"><a asp-controller="Customer" asp-action="Login">Login</a></li>
                                    }
                                    <li class="nav-item flex-grow-1"></li>
                                    <li class="nav-item justify-content-start p-0 m-0"><a class="nav-link p-0 m-0 text-end" asp-controller="Cart" asp-action="CartView"><img style="width:50%" class="p-0 m-0" src="~/images/blue-shopping-cart.png" alt="Cart View"></a></li>
                                    <li class="nav-item align-content-center justify-content-center text-center me-5"><div id="cart-count" style="font-family: Arial" class="dot">0</div></li>
                                </ul>
                                <span class="mx-5" style="width: 15%;"></span>
                            </div>

                            break;

                        @*===========================================================================================================================================*@
                        @*===========================================================================================================================================*@
                        case "View Cart":
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mt-5">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item mx-5 px-4 text-dark" style="font-size:45px">View Cart</li>
                                    <li class="nav-item mx-2 mt-1" style="font-size:35px"><a asp-controller="Product" asp-action="Gallery">Continue Shopping</a></li>
                                    <li class="nav-item mx-2 p-0" style="font-size:40px"><span id="empty-cart1"> | </span></li>
                                    <li class="nav-item ms-2 me-5 mt-1 flex-grow-1" style="font-size:35px"><span id="empty-cart2"><a asp-controller="Order" asp-action="Checkout">Checkout</a></span></li>
                                    <li class="nav-item ms-5 ps-5 text-dark" style="font-size:40px">Total: </li>
                                </ul>
                            </div>
                            <span id="cart-total" class="text-info mt-3" style="align-items: center; justify-content: center; font-size: 60px; height: 70px; width: 200px;"></span>
                            <span class="mx-0" style="width: 15%;"></span>
                            break;

                        @*===========================================================================================================================================*@
                        @*===========================================================================================================================================*@
                        case "Purchase History":
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mt-5">
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item mx-5 px-2 text-dark" style="font-size:45px">Purchase History</li>
                                    <li class="nav-item mx-2 mt-1" style="font-size:35px"><a asp-controller="Product" asp-action="Gallery">Browse</a></li>
                                    <li class="nav-item mx-2 p-0" style="font-size:40px"><span> | </span></li>
                                    <li class="nav-item mx-2 mt-1" style="font-size:35px"><a asp-controller="Customer" asp-action="logout">Logout</a></li>
                                </ul>
                            </div>
                            break;
                        @*===========================================================================================================================================*@
                        @*===========================================================================================================================================*@
                        default:
                            // "Stats EasterEgg" ?
                            break;
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="container">
            @*IMPORTANT: Javascript MUST always be placed at bottom of HTML!!!*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
