@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //a mini 404 handling page just in case
}

<div class="empty row-cols-auto text-center">
    <a type="button" class="btn btn-primary mb-1" asp-controller="Product" asp-action="Gallery">Return to Shop :^)</a>
    <img class="rounded mx-auto d-block" src="/images/NOTFOUND1.png" alt="You looking for stuff that we cannot even find in outer space...">
</div>